<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>URL Shortener</title>
</head>
<body>
  <h1 class="heading">Welcome to the URL Shortener Service</h1>
  <br>
    <form action="/short" method="POST">
        <div class="form-group">
            <h1>Enter Your Long URL</h1>
            <input type="email" class="form-control inp" name="fullUrl" id="exampleFormControlInput1" placeholder="Long URL">
            <br>
            <button type="submit" class="btn btn-warning">Get Short URL</button>
          </div> 
    </form>
    <% if(shortUrl === "Invalid Input"){ %>
      <span class="size"><%= shortUrl %></span>
    <% }else{ %>
      <a class="size" href="<%= shortUrl %>"><%= shortUrl %></a>
   <% } %>
    <form action="/find" method="POST">
      <h1>Find URL</h1>
      <input type="email" class="form-control inp" name="findUrl" id="exampleFormControlInput1" placeholder="Original Long URL">
      <br>
            <button type="submit" class="btn btn-warning">Find</button>
    </form>
    <br>
    <h1>Your Shortened URLs</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">S.no.</th>
                <th scope="col">Long URL</th>
                <th scope="col">Short URL</th>
                <th scope="col">Operation</th>
              </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<data.length;i++){ %>
              <tr>
                <th scope="row"><%= i+1 %> </th>
                <td><a href="<%= data[i].full %>"><%= data[i].full %></a></td>
                <td><a href="http://localhost:3000/<%= data[i].short %>">http://localhost:3000/<%= data[i].short %></a></td>
                <td><form action="/delete" method="POST">
                  <input type="hidden" name="deleteUrl" value="<%= data[i].short %>"></input>
                  <button type="submit" class="btn btn-warning">Delete</button>
                </form>
                <form action="/update" method="POST">
                  <input type="hidden" name="updateUrl" value="<%= data[i].full %>"></input>
                  <input type="hidden" name="shortUrl" value="<%= data[i].short %>"></input>
                  <button type="submit" class="btn btn-warning">Update</button>
                </form>
              </td>
              </tr>
   <% } %>
</tbody>
</table>
</body>
</html>